{% extends 'content/base.html' %}
{% block content %}
<!-- Header -->
					<header id="header" style="width: 30rem;">
						<div class="content">
							<div class="inner">
								<h1>D0m1tori Notify</h1>
								<p>Бот созданный для служения стримеру</p>
							</div>
						</div>
						<!-- <article style="height: inherit;width: inherit;"> -->
							<div>
								<a style="min-width: 100%;" onclick="VK.Auth.login(vk_auth); return false;" class="button1" href="javascript:void()">Авторизация <i class="fab fa-vk"></i></a>
								<!-- <a style="min-width: 100%;" class="button1" href="{{url_for('basic_auth')}}">Резервная авторизация</i></a> -->
                <nav><ul>
								    <li><a href="/ds-notify/add" target="blank_"><i class="fab fa-discord"></i></a></li>
								    <li><a href="https://vk.com/d0m1tori" target="blank_"><i class="fab fa-vk"></i></a></li>
                    <li><a href="https://twitch.tv/d0m1tori" target="blank_"><i class="fab fa-twitch"></i></a></li>
									<li><a href="https://t.me/d0m1tori_bot" target="blank_"><i class="fab fa-telegram"></i></a></li>
                </ul></nav>
						<!-- </article> -->
						</div>
					</header>

{% endblock %} 
{% block extrajs %}
<script src="https://vk.com/js/api/openapi.js" type="text/javascript"></script>
<script type="text/javascript">
  VK.init({
    apiId: {{vk_auth_id}}
  });

  function vk_auth(response) {
		if(response.session) {
		$.ajax({
	    	url: "{{url_for('vk_auth')}}",
	    	dataType: "json",
	    	async: false,
	    	data: {id: response['session']['user']['id'], expire: response['session']['expire'], mid: response['session']['mid'], secret: response['session']['secret'], sid: response['session']['sid'], sig: response['session']['sig']},
	    	type: "POST",
	    	success: function (data) {
					if(data['status'] == 'success') {
						toastr.success(data['description']);
						setTimeout("location.reload()", 2000);
					}
					else if(data['status'] == 'unauthorized') {
						toastr.error(data['description']);
						setTimeout("location.href = '/auth'", 2000);
					}
					else if(data['status'] == 'warning') {
						toastr.warning(data['description']);
					}
					else {
						toastr.error(data['description']);
					}
			    },
			    beforeRequest: function(data) {
			    	toastr.info("Операция выполняется...");
			    }
		});
	} else {
		$.ajax({
	    	url: "{{url_for('vk_auth')}}",
	    	type: "POST",
	    	success: function (data) {
	    		if(data['status'] == 'success') {
	    			toastr.success(data['description']);
						setTimeout("location.reload()", 2000);
	    		}
	    	},
	    	error: function (jqXHR, exception) {
					toastr.warning("Неизвестная ошибка. Обратитесь к разработчику.");
				}
			});
	}
}
</script>

{% endblock %}
