{% extends 'content/base.html' %}
{% block content %}
<!-- Header -->
					<header id="header" style="width: 30rem;">
						<!-- <article style="height: inherit;width: inherit;"> -->
							<div>
								<center><h2 style="margin-top: 15px;" class="major">Авторизация</h2></center>
								<form onsubmit="try_auth(this); return false;" >
									<p>Логин
									<input type="text" name="login" placeholder="SuperBebr4_228" required></p>
									<p>Пароль
									<input type="password" name="password" placeholder="MyVeryH4rDP4$$w0rD!" required></p>
									<input type="submit" style="min-width: 100%;" class="button1" value="Войти">
								</form>
						<!-- </article> -->
						</div>
					</header>

{% endblock %} 
{% block extrajs %}
<script type="text/javascript">
	function try_auth(form) {
		$.ajax({
	    	url: "{{url_for('basic_auth')}}",
	    	dataType: "json",
	    	data: {login: form[0].value, password: form[1].value},
	    	type: "POST",
	    	success: function (data) {
				if(data['status'] == 'success') {
					toastr.success(data['description']);
					setTimeout("location.reload()", 2000);
				}
				else if(data['status'] == 'unauthorized') {
					toastr.error(data['description']);
					setTimeout("location.href = '/auth'", 2000);
				}
				else if(data['status'] == 'warning') {
					toastr.warning(data['description']);
				}
				else {
					toastr.error(data['description']);
				}
		    },
		    beforeRequest: function(data) {
		    	toastr.info("Операция выполняется...");
		    }
		});
	}
</script>
{% endblock %}
